# Android build files
/build/
.gradle/
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/libs

# iOS build files
build/

# Kotlin-specific files
out/
*.class
*.dex

# Temporary files
*.log
*.hprof
